{% extends "base.html" %}
{% block title %}Posts{% endblock %}

{% block content %}

    <div id="content">
        {% for post in posts %}
            <div class="post">
                {{ post.html|safe }}
                <p class="monogram"><a href="{{ post.post_url }}">{{ post.author }} - {{ post.date }}</a></p>
            </div>
        {% endfor %}

        {% if at_end %}
            <div class="further-posts"><a href="/?begin={{ begin }}&end={{ end }}">Read more posts</a></div>
        {% endif %}
    </div>

{% endblock %}
